<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<g:layoutHead/>
		<g:javascript library="application"/>
        <g:javascript library="jquery"/>
		<r:layoutResources />
	</head>
	<body>
        <div id="overlay"></div>
		<g:layoutBody/>
		<r:layoutResources />
	</body>
</html>
