.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: none;
    background: color: none;
}

body, html {
    width, height: 100%;
}

#overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 102;
    background: black;
    opacity:0.4;
    filter:alpha(opacity=40);
}

#pageContainer {
    margin: auto;
    position: absolute;
    top: 5%; right: 5%; bottom:5%; left: 5%;
}

#appDescription {
    height: 15%;
    text-align:center;
    font-size: 20px;
    overflow: hidden;
}

#controls {
    height: 20%;
    overflow: hidden;
}
#controls button {
    width: 48%;
    height: 70%;
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size: 50px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}
#boyButton {
    float: left;
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
}
#girlButton {
    float: right;
    background:#FF5DB1;
    background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
    background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
    background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
    background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
    background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
}
.ui-slider {
    float:left;
    width: 90%;
}
.ui-slider-input {
    display : none !important;
}

#babyImage {
    position:relative;
    height:40%;
    width:100%;
    overflow: hidden;
}
#baby {
    height: 306px;
}

#betDescription {
    text-align:center;
    font-size: 20px;
    padding: 1%;
    height:10%;
    overflow: hidden;
}
#bet {
    height:10%;
    width:100%;
    overflow: hidden;
}

#betButton {
    height:100%;
    width:100%;
    font-size: 25px;
	padding: 8px 15px;
	cursor: pointer;
	border: 1px solid #2c3e50;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #ffffff;
	background-color: #2c3e50;
}
#betButton:hover {
	background-color: #28323C;
	border-color: #0E2134;
	color: #ffffff;
}
#betButton:disabled {
	background-color: #C0C0C0;
	border-color: #0E2134;
	color: #ffffff;
}

#approved {
    height: 20%
}
#thumbsup {
}
